div, p {
    background-color: blue;
}

/* classe - usada quando vai utilizar mais vezes */
.fundoverde {
    background-color: greenyellow;
}

/* id - usada para elementos que não se repetem */
#div4 {
    background-color: greenyellow;
}


div>div{
    background-color: indianred;
}

div.fundocinza{
    background-color: grey;
}

/* position
    absolute: depende da posição do pai
    realative: independe
    fixed: fixo na página
*/




.verde{
    width: 300px;
    height: 300px;
    background-color: green;
    border: 10px solid darkgreen;
    position: absolute; 
    bottom: 0px;
    right: 0;
    z-index: 0;
}

.azul{
    width: 120px;
    height: 120px;
    background-color: blue;
    border: 10px solid darkblue;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
}