a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}


.example{
    color: #fff;

}

.example-item {
    width: 25%;
    height: 150px;
    display: inline-block;
}

.example-item_first{
    border: solid 2px red;
    background-color: orange;
    margin: 10px;

}

.example-item_second{
    background-color: rgb(7, 152, 248);
    margin-left: auto;


}

.example-item_third{
    background-color: rgb(5, 201, 168);

}